.a1{
  background-color: tomato;
  margin: 10px;
}
.a2{
  background-color: Orange;
  margin:10px;
}

.a3{
  background-color: DodgerBlue;
  margin:10px;
}
.a4{
  background-color: MediumSeaGreen;
  margin: 10px;
}
.a5{
  background-color: Gray;
  margin: 10px;
}
.a6{
  background-color: SlateBlue;
  margin: 10px;
}
.a7{
  background-color: Violet;
  margin: 10px;
}.image{

}
